@keyframes circleANIM {
    0%{
        clip-path: circle(0.4% at 50% 50%);
        transform: scale(1.1)
    }
    70%{
        clip-path: circle(100% at 50% 50%);
    }
    100%{
        transform: scale(1)
    }
}
