body {
    font-family: 'Comfortaa', cursive;
    background: #e67e22;
    overflow: hidden;
}

body:fullscreen {
    background-color: #e67e22;
}

.back {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 60px;
    cursor: pointer;
    animation: 2s sadanim;
    display: none;
}

.back:hover{
    font-size: 32px;
}

.home {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    animation: 2s sadanim;
}

.home:hover {
    font-size: 32px;
}

.full {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    animation: 2s sadanim;
}

.full:hover {
    font-size: 32px;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    border-left: 4px solid #2c3e50;
    border-right: 4px solid #2c3e50;
    color: #2c3e50;
    padding-left: 20px;
    padding-right: 20px;
    animation: 2s title;
    text-align: right;
    float: right;
    overflow: hidden;
}

@keyframes title {
    0%{
        clip-path: polygon(0 45%, 0 45%, 0 45%, 0 45%);
    }
    30%{
        clip-path: polygon(0 0, 5% 0, 6% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
.mycircle {
    width: 150px;
    height: 150px;
    border: 6px solid #1abc9c;
    border-radius: 50%;
    background: #27ae60;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    animation: 2s circleANIM 1;
    transition: transform 1.5s, border-color .5s;
    box-shadow: 1px 14px 11px 0px rgba(0,0,0,0.47);
}

.mycircle h4 {
    align-self: center;
    justify-self: center;
    font-size: 17px;
    color: #ecf0f1;
} 

.circle-wrap {
    display: flex;
    width: 100%;
    height: max-content;
    position: absolute;
    padding: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.circle-wrap.bottom {
    bottom: 0;
}

.subtitle {
    margin-left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    font-size: 40px;
    width: max-content;
    color: #ecf0f1;
    animation: 1s subtitle;
}

@keyframes subtitle {
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.sad {
    width: 20%;
    margin-left: 55%;
    transform: translateX(-50%);
    animation: 4s sadanim;
    margin-top: 40px;
}

@keyframes sadanim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.text {
    width: 70%;
    margin-left: 20%;
    margin-top: 10px;
}

.left {
    animation: 1s leftSlide;
}

@keyframes leftSlide{
    0%{
        margin-left:-85%;
    }
    100%{
        margin-left:20%;
    }
}

.right {
    animation: 1s rightSlide;
}

@keyframes rightSlide{
    0%{
        margin-left:100%;
    }
    100%{
        margin-left:20%;
    }
}

.logo {
    width: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: 4s sadanim;
    margin-top: 20px;
    filter: grayscale(1);
}

.nameplate {
    width: 60%;
    margin-left: 20%;
    padding: 10px 20px;
    background: #2ecc71;
    animation: .7s nameplate;
    transform-origin: top center;
    box-shadow: 1px 14px 11px 0px rgba(0,0,0,0.47);
    margin-top: 20px;
}

.nameplate.animate {
    animation: .9s nameplatehov;
}

@keyframes nameplatehov {
    0%{
        transform: perspective(1500px) rotateX(0deg);
    }
    30%{
        transform: perspective(1500px) rotateX(-30deg);
    }
    80%{
        transform: perspective(1500px) rotateX(10deg);
    }
    100%{
        transform: perspective(1500px) rotateX(0deg);
    }
}

.nuton {
    width: 82%;
    margin-left: 11%;
    flex-direction: row;
    animation: 2s nuton;
}

@keyframes nuton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nuton img {
    width: 16%;
    transform-origin: top center;
}

.nuton img.right {
    animation: 1.4s nuton-right-anim infinite ease-in;
}

@keyframes nuton-right-anim {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-30deg);
    }
    33%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.nuton img.left {
    animation: 1.4s nuton-left-anim infinite ease-in;
}

@keyframes nuton-left-anim {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(30deg);
    }
    83%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.nuton img.center {
    /* animation: 1.4s nuton-center-anim infinite; */
}

@keyframes nuton-center-anim {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-1deg);
    }
    60%{
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



.classes {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.class {
    width: 20%;
    height: max-content;
    border: 5px #2ecc71 solid;
    text-align: center;
    padding: 10px;
    animation: .6s sadanim;
}

.class-in {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    font-size: 50px;
}

.middle {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    animation: .6s sadanim;
}

.side {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.server {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.middle h1 {
    align-self: center;
    justify-self: center;
    width: max-content;
    font-size: 30px;
    padding: 20px;
    border: 5px #2c3e50 solid;
}

.notifyers {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    transform: translateX(-50%);
}