body {
    background:#ecf0f1;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-item {
    cursor: pointer;
}

.menu {
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: inherit;
}

.menu button {
    padding: 20px 100px;
    min-width: inherit;
    background: none;
    border: 2px black solid;
    border-radius: 10px;
    transition: .5s;
    display: block;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    height: min-content;
    width: 100%;
}


.menu button:hover {
    text-decoration: underline;
}

.notifies {
    width: 10%;
    height: max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.notifies .notify {
    width: min-content;
    height: max-content;
    background: #27ae5f4b;
    border-left: #27ae60 4px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 10px;
    min-width: 200px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

#clipboard {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1000;
}

.add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.add select {
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
}

.add input[type="text"] {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    border: none;
    background: none;
    font-size: 30px;
    border-bottom: 2px black solid;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.add input[type="time"] {
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    font-size: 30px;
    border: none;
    border-bottom: 1px black solid;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.add input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.add input[type="time"]::-webkit-clear-button,.add input[type="time"]::-webkit-inner-spin-button {
    display: none;
}

.add button {
    background: none;
    font-size: 24px;
    border: 1px black solid;
    box-shadow: none;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    border-radius: 5px;
    color: #7f8c8d;
    border-color: #7f8c8d;
    transition: 1s;
}

.add button:hover {
    color: black;
    border-color: black;
}

.add i {
    position: absolute;
    left: 0;
    top: -31px;
    font-size: 30px;
    cursor: pointer;
}

.add i:hover {
    font-size: 31px;
}

.manage {
    width: 70%;
    height: max-content;
    margin-left: 15%;
    margin-top: 30px;
}

.manage button {
    position: absolute;
    right: 30px;
    top: 100px;
    padding: 3px 20px;
    background: none;
    border: 2px black solid;
    border-radius: 7px;
}

.manage button:hover {
    font-size: 17px;
}

.manage i {
    font-size: 28px;
    cursor: pointer;
}

.manage i:hover {
    font-size: 30px;
}

select {
    width: max-content;
    min-width: 150px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    outline: none;
}

.manage .list-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.manage .left {
    width: 50%;
    box-sizing: content-box;
}

.manage .left ul {
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.manage .left ul li {
    border-left: 2px solid #7f8c8d;
    padding: 20px 10px;
    cursor: default;
}

.manage .left label {
    float: left;
}

.manage .left ul li input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.textStats {
    width: 100%;
    margin-top: 40px;
}

.rel {
    position: relative;
    margin-left: -50%;
    transform: translateX(-50%);
}

.add-rel {
    position: relative;
    transform: translateX(-50%);
    text-align: center;
    width: 40%;
}

.remove {
    color:  #c0392b;
    margin-top: 40px;
}

@media screen and (max-width: 980px) {
    .vk {
        width: 70%;
        height: 100px;
    }
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 40px;
    }
}