body {
    background:#ecf0f1;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
    overflow-x: hidden;
}

body:fullscreen {
    background-color: #ecf0f1;
}


.swipe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    background: #e67e22;
    top: 0;
}

.faq {
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    margin-top: 30px;
    font-size: 24px;
}

.faq h2 {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}

.links {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    transform: translateX(-50%);
}

i {
    font-size: 30px;
}

@media screen and (max-width: 980px) {
    .vk {
        width: 70%;
        height: 100px;
    }
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 40px;
    }
    .faq {
        width: 90%;
        margin-left: 5%;
    }
    #vk_community_messages {
        height: 80px;
        width: 80px;
    }
    i {
        font-size: 40px;
    }
}

.about {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 30px;
    padding: 7px 30px;
    background: #3498db;
    color: #ecf0f1;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    border: 2px solid #3498db;
}

.about:hover {
    color: #3498db;
    text-decoration: none;
    background: #ecf0f1;
}