body {
    background:#ecf0f1;
    font-family: 'Oswald', sans-serif;
}

.vk {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 10px 20px;
    font-size: 30px;
    background: none;
    border: 1px #7f8c8d solid;
    color: #7f8c8d;
    transition: .8s;
    overflow: hidden;
    border-radius: 4px;
}

.vk:hover {
    color: #ecf0f1;
}

.vk::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background: #7f8c8d;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: .8s;
}

.vk:hover::before {
    height: 180%;
}

#nav h1 {
    text-align: center;
    margin-top: 10px;
}

#nav h2 {
    text-align: center;
    color: #7f8c8d;
}

#nav .logo {
    height: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    transform-origin: center left;
    filter: grayscale(100%);
}

.nav-item {
    cursor: pointer;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

@keyframes bounce-in {
    0% {
        transform: rotate(0deg) translateX(-50%);
    }
    10% {
        transform: rotate(-10deg) translateX(-50%);
    }
    50% {
        transform: rotate(10deg) translateX(-50%);
    }
    100% {
        transform: rotate(0deg) translateX(-50%);
    }
}

.notifies {
    width: 10%;
    height: max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.notifies .notify {
    width: min-content;
    height: max-content;
    background: #c03a2b33;
    border-left: #c0392b 4px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 10px;
    min-width: 200px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.second {
    margin-top: 2.5em;
}

@media screen and (max-width: 980px) {
    .vk {
        width: 70%;
        height: 100px;
    }
    .second {
        margin-top: 4em;
    }
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 40px;
    }
}

.confirm {
    color: #e74c3c;
    text-align: center;
    margin-top: 10px;
}