body {
    background:#ecf0f1;
    font-family: 'Oswald', sans-serif;
}

.notifies {
    width: 10%;
    height: max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.notifies .notify {
    width: min-content;
    height: max-content;
    background: #c03a2b33;
    border-left: #c0392b 4px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 10px;
    min-width: 200px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media screen and (max-width: 980px) {
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 40px;
    }
}

.login {
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c3e50;
    text-align: center;
    color: white;
}

.login input[type="text"], .login input[type="password"] {
    border: 2px solid #3498db;
    background: none;
    display: block;
    text-align: center;
    margin: 25px auto;
    padding: 10px 7px;
    width: 230px;
    outline: none;
    color: white;
    transition: 500ms;
    border-radius: 10px;
} 

.login input[type="text"]:not([value=""]), .login input[type="password"]:not([value=""]) {
    border-color: #2ecc71;
    background: none;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
    border-radius: 40px;
    width: 270px;
    border: 2px solid#3498db;
} 

.login button {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    text-transform: uppercase;
    transition: 500ms;
}

.login button:hover {
    border-color: #2ecc71;
    background: #2ecc71;
}

.login h2 {
    text-transform: uppercase;
    font-weight: 300;
}

.login p {
    font-size: 17px;
    margin: 0;
    float: right;
    border-bottom: 2px solid #3498db;
    cursor: pointer;
}

.login hr {
    border-color: #ecf0f1
}

.mobile {
    width: 90%;
}

.mobile input[type="text"], .mobile input[type="password"] {
    width: 60%;
}

.mobile input[type="text"]:focus, .mobile input[type="password"]:focus {
    width: 70%;
}