body {
    font-family: 'Oswald', sans-serif;
}

.multi-nav .head {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #ecf0f1 1px solid;
}

.multi-nav-mobile .head {
    border: none;
}

.multi-nav .head:hover {
    color: #ecf0f1;
}

.multi-nav li {
    width: 100%;
    background: #34495e;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid #2c3e50;
    cursor: pointer;
    color: #bdc3c7;
}

.multi-nav a {
    text-decoration: none;
    color: #bdc3c7;
}

.multi-nav a:hover {
    color: #7f8c8d;
}

.multi-nav a.active {
    color: #ecf0f1;
}

.multi-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.multi-nav-mobile ul {
    height: 100%;
    background: #34495e;
    width: 40%;
    padding: 0;
    right: 0;
    margin: 0;
}

.multi-nav i {
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.multi-nav i.open {
    transform: rotate(180deg);
}

.multi-nav-mobile i {
    transform: rotate(90deg);
}

.multi-nav-mobile i.open {
    transform: rotate(270deg);
}

.multi-nav li:hover {
    color: #7f8c8d;
}

.navanim-enter-active {
    animation: navanim-in .5s ease-in-out;
    overflow: hidden;
}
.navanim-leave-active {
    animation: navanim-in .5s reverse ease-in-out;
    overflow: hidden;
}
@keyframes navanim-in {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.navanimmob-enter-active {
    animation: navanimmob-in .5s ease-in-out;
    overflow: hidden;
}
.navanimmob-leave-active {
    animation: navanimmob-in .5s reverse ease-in-out;
    overflow: hidden;
}
@keyframes navanimmob-in {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.multi-nav-mobile li {
    width: 40%;
    margin-left: 60%;
    text-align: right;
}

.multi-nav-mobile .head {
    margin: 0;
}

.multi-nav-mobile li{
    font-size: 35px;
    width: 100%;
    margin: 0;
}

.multi-nav-mobile i{
    font-size: 35px;
    margin-top: 25%;
}