body {
    background:#ecf0f1;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-item {
    cursor: pointer;
}

.list {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    padding: 10px 20px;
}

.list h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.borders {
    border-left: 2px black solid;
    border-right:  2px black solid;
}

.list ul {
    list-style-type: none;
    font-size: 30px;
}

.list div {
    display: inline;
}

@media screen and (max-width: 980px) {
    .vk {
        width: 70%;
        height: 100px;
    }
    .nav-item {
        font-size: 30px;
    }
    .navbar-brand {
        font-size: 40px;
    }
}