<html>
<head>
    <title>WINTS</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/nav.css"> 
    <link rel="stylesheet" type="text/css" href="static/css/admin.css"> 
</head>
<body>

    <div :class="{'multi-nav':true, 'multi-nav-mobile':mobile}" id="nav">
        <li class="head">
            <div><a class="active" href="/">WINTS{{ '.' + name }}</a></div>
            <div @click="open=!open"><i class="fas fa-caret-square-down" :class="{open:open}"></i></div>
        </li>
        <transition :name="animname">
            <ul v-show="open">
                <li class="el" v-show="loggedIn"><a href="/tied">Мои классы</a></li>
                <li class="el"><a href="/faq">FAQ и Инструкция</a></li>
                <li class="el" v-show="isAdmin"><a class="active" href="/admin">Инструменты администрирования</a></li>
                <li class="el" v-show="loggedIn"><a @click="logout()">Выйти</a></li>
            </ul>
        </transition>
    </div>

    <div id="menu" class="menu" v-show="show">
        <button @click="newLink()">Создать администраторскую ссылку</button>
        <button @click="openManage()">Администрирование классов</button>
        <button @click="openAddClass()">Добавить класс</button>
        <button @click="openAddBeacon()">Добавить датчик</button>
    </div>

    <div id="addClass" class="add" v-if="show">
        <input placeholder="Имя(номер)" type="text" v-model="name">
        <label>Начало активной фазы <input type="time" v-model="start"></label>
        <label><input type="time" v-model="stop"> Конец активной фазы</label>
        <button @click="ready()">Готово</button>
        <i class="fas fa-caret-square-left" @click="back()"></i>
    </div>

    <div id="addBeacon" class="add" v-if="show">
        <select v-model="classId">
            <option disabled selected value style="display:none;">выберите класс</option>
            <option v-for="claz in classes" :value="claz.id">{{ claz.name }}</option>
        </select>
        <input placeholder="Имя(номер)" type="text" v-model="name">
        <label><input type="checkbox" v-model="state"> Активен сейчас (окно открыто)</label>
        <button @click="ready()">Готово</button>
        <i class="fas fa-caret-square-left" @click="back()"></i>
    </div>

    <div class="manage" id="manage" v-if="show">
        <i class="fas fa-caret-square-left" @click="back()"></i>
        <select v-model="classId">
            <option disabled selected value style="display:none;">выберите класс</option>
            <option v-for="claz in classes" :value="claz.id">{{ claz.name }}</option>
        </select>
        <div class="list-wrap">
            <div class="left">
                <h4>Учителя:</h4>
                <ul>
                    <li v-for="teacher in teachers"><input type="checkbox" :name="teacher.id" v-model="teacher.added">{{ teacher.name }}</li>
                </ul>
            </div>
            <div class="left">
                <h4>Датчики:</h4>
                <ul>
                    <li v-for="beacon in beacons"><input type="checkbox" v-model="beacon.active">{{ beacon.name }}</li>
                </ul>
            </div>
        </div>
        <div class="textStats">
            <div class="add add-rel">
                <input placeholder="Имя(номер)" type="text" v-model="name">
                <label>Начало активной фазы <input type="time" v-model="start"></label>
                <label><input type="time" v-model="stop"> Конец активной фазы</label>
            </div>
        </div>
        <button @click="ready">Готово</button>
        <button @click="remove" class="remove">Удалить</button>
    </div>

    <div id="notifies" class="notifies">
        <transition name="fade" v-for="el in stack">
            <div class="notify">{{ el }}</div>
        </transition>
    </div>

    <input type="text" id="clipboard">

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 179407778, {tooltipButtonText: "Есть вопрос?"});
    </script>

    <script src="static/js/admin.js"></script>
</body>
</html>
