<html>
<head>
    <title>WINTS</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/nav.css"> 
    <link rel="stylesheet" type="text/css" href="static/css/index.css"> 
</head>
<body>

    <div id="nav">
        <div :class="{'multi-nav':true, 'multi-nav-mobile':mobile}">
            <li class="head">
                <div><a class="active" href="/">WINTS{{ '.' + name }}</a></div>
                <div @click="open=!open" class="ico"><i class="fas fa-caret-square-down" :class="{open:open}"></i></div>
            </li>
            <transition :name="animname">
                <ul v-show="open">
                    <li class="el" v-show="loggedIn"><a href="/tied">Мои классы</a></li>
                    <li class="el"><a href="/faq">FAQ и Инструкция</a></li>
                    <li class="el" v-show="isAdmin"><a href="/admin">Инструменты администрирования</a></li>
                    <li class="el" v-show="loggedIn"><a @click="logout()">Выйти</a></li>
                </ul>
            </transition>
        </div>
        <div class="wrap">
            <button class="vk" v-show="!loggedIn" @click="login()">Войти через VK</button>
            <button class="vk second" v-show="!loggedIn" onclick="window.location.replace('/login')">Войти (логин/пароль)</button>
        </div>
        <transition name="bounce">
            <img src="static/res/logo.svg" class="logo" v-if="loggedIn">
        </transition>
        <h1 v-if="loggedIn">Здравствуйте, {{ name }}.</h1>
        <h1 v-if="loggedIn">Добро пожаловать в систему «WINTS»</h1>
        <h2 v-if="loggedIn && !isAdmin">Ваша привелегия: учитель</h2>
        <h2 v-if="loggedIn && isAdmin">Ваша привелегия: администратор</h2>
        <h3 class="confirm" v-if="loggedIn && !confirmed">Ваш аккаунт не активирован!(<a href="/faq">инструкция</a>)</h3>
        <h3 class="confirm" v-if="loggedIn && !subscribed && !vked">Вы не подписаны на уведомления!(<a onclick="subscribe()" href="#">получать уведомления на это устройство</a>)</h3>
        <h3 class="confirm" v-if="loggedIn && !subscribed && vked" style="color:#2ecc71;">Вы не подписаны на уведомления!(<a onclick="subscribe()" href="#">получать уведомления на это устройство</a>)</h3>
    </div>

    <div id="notifies" class="notifies">
        <transition name="fade" v-for="el in stack">
            <div class="notify">{{ el }}</div>
        </transition>
    </div>

    <script src="static/js/index.js"></script>

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 179407778, {tooltipButtonText: "Есть вопрос?"});
    </script>

    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script type="text/javascript" src="static/js/firebase_subscribe.js"></script>
</body>
</html>
