<html>
<head>
    <title>WINTS</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/nav.css"> 
    <link rel="stylesheet" type="text/css" href="static/css/login.css"> 
</head>
<body>

    <div id="nav">
        <div :class="{'multi-nav':true, 'multi-nav-mobile':mobile}">
            <li class="head">
                <div><a class="active" href="/">WINTS{{ '.' + name }}</a></div>
                <div @click="open=!open" class="ico"><i class="fas fa-caret-square-down" :class="{open:open}"></i></div>
            </li>
            <transition :name="animname">
                <ul v-show="open">
                    <li class="el" v-show="loggedIn"><a href="/tied">Мои классы</a></li>
                    <li class="el"><a href="/faq">FAQ и Инструкция</a></li>
                    <li class="el" v-show="isAdmin"><a href="/admin">Инструменты администрирования</a></li>
                    <li class="el" v-show="loggedIn"><a @click="logout()">Выйти</a></li>
                </ul>
            </transition>
        </div>
    </div>

    <div id="login" class="login" :class="{mobile: mobile}">
        <h2 v-if="login">вход</h2>
        <h2 v-else>регистрация</h2>
        <input name="name" type="text" v-model="name" placeholder="Имя" v-if="!login" value="" onkeyup="this.setAttribute('value', this.value);" style="background:none;">
        <input name="login" type="text" v-model="username" placeholder="Логин" value="" onkeyup="this.setAttribute('value', this.value);">
        <hr v-if="!login">
        <input name="password" type="password" v-model="password" placeholder="Пароль" value="" onkeyup="this.setAttribute('value', this.value);">
        <input name="password-confirm" type="password" v-model="passwordConfirm" placeholder="Повтор пароля" v-if="!login" value="" onkeyup="this.setAttribute('value', this.value);">
        <button @click="signin" v-if="login">войти</button>
        <button @click="signup" v-else>зарегестрироваться</button>
        <p @click="login=!login" v-if="login">зарегестрироваться</p>
        <p @click="login=!login" v-else>войти</p>
    </div>

    <div id="notifies" class="notifies">
        <transition name="fade" v-for="el in stack">
            <div class="notify">{{ el }}</div>
        </transition>
    </div>

    <script src="static/js/login.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script type="text/javascript" src="static/js/firebase_subscribe.js"></script>
</body>
</html>
